<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stefan.sbt.dao.demo.DemoMapper">
	<resultMap type="com.stefan.sbt.domain.entity.Demo" id="userResultMap">
		<id property="demoID" column="demo_id" />
		<result property="name" column="name" />
		<result property="value" column="value" />
	</resultMap>


	<sql id="userColumns">
		${alias}.demo_id,${alias}.name,${alias}.value
	</sql>

	<select id="selectOneByName" resultMap="userResultMap">
		select 
		<include refid="userColumns">
			<property name="alias" value="t"/>
		</include>
		from demo t where t.name=#{name}
	</select>


</mapper>